@font-face {
    font-family: 'MiFuentePersonalizada';
    src: url(font/Breaking\ Bad.ttf) format('truetype');
    font-weight: normal;
    font-style: normal;
}

:root {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    
    background-color: #0c3e11;
    font-family: Helvetica;
    
}

#main {
    background-image: url('imgs/fondo.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

#formulario {
    background-image: url('imgs/fondo.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: Helvetica;
}

.logo {
    background-image: url('imgs/logo.PNG');
    background-size: contain;
    margin: auto;
    width: 200px;
    height: 200px;
}

.frase {
    font-family: 'MiFuentePersonalizada', Helvetica;
    font-size: 35px;
    color: white;
    padding: 15px;
    padding-bottom: 40px;
    margin: auto;
    text-align: center;

}

.poster {
    margin: auto;
    width: 700px;
    height: 300px;
    border: 10px outset brown;
    border-radius: 22px;
}

.poster img {
    width: 700px;
    height: 300px;
}

#h1formulario {
    text-align: center;
    font-size: 40px;
    color: #333;
}

.formulario {
    background-color: rgba(58, 25, 51, 0.603); 
    width: 50%; 
    padding: 20px;
    border-radius: 5px;
    margin: auto;
    font-size:  20px;
    
}

.formulario input, 
.formulario textarea,
#personaje {
    background-color: #3c2e3f; 
    color: #e0d8d8; 
    border: 2px solid #c7c6c6; 
    border-radius: 5px;
    padding: 10px;
    width: 96%; 
    margin: 5px;
}

#sexo {
    display: flex;
    flex-direction: row; 
    gap: 20px; 
    align-items: center;
    border: 2px solid #c7c6c6; 
    border-radius: 5px; 
}

#sexo label {
    display: flex;
    align-items: center;
    gap: 5px; 
    font-size: 20px;
    color: rgb(0, 0, 0);
    
}

fieldset {
    margin-bottom: 20px;
    border-radius: 5px;
}

fieldset legend {
    font-weight: bold;
}

.cabecera {
    background-image: url(imgs/cabecera.png);
}


table {
    background-color: #202020;
    margin: auto;
    border-spacing: 10px;
}

.cabecera {
    background-image: url('imgs/cabecera.png');
    width: 100%;
    height: 300px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    margin: 20px;
}

td {
    width: 80px;
    height: 80px;
    background-color: #a8dd2b;
    color: #202020;
    text-align: center;
    vertical-align: middle;
    font-weight: bold;
    
}

p {
    font-size: 10px;
    color: #202020;
    font-weight: bold;
    
}

figcaption {
    font-size: 40px;
    color: #202020;
    
}

td#imagen img {
    width: 100%;
    display: block;
}

td.empty {
    background-color: transparent;
}

td.claro {
    background-color: rgb(247, 241, 233);
}

td.verde {
    background-color: rgb(129, 158, 25);
}

td.oscuro {
    background-color: rgb(72, 85, 35);
}

td.apagado {
    background-color: rgb(123, 139, 76);
}

td.grisaceo {
    background-color: rgb(194, 204, 162);
}

td.morado {
    background-color: rgb(173, 131, 212);
}

td.pistacho {
    background-color: rgb(214, 240, 70);
}

td.amarillento {
    background-color: rgb(229, 243, 146);
}

#segunda td {
    background-color: rgb(194, 191, 19);
}